<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries by Data Scientists  
- Create and format tables using Markdown  
- Use Markdown to document notebooks effectively  
- Explore open-source tools used in Data Science

<p>Some of the popular languages that Data Scientists use are:<p>
<ol>
  <li>Python</li>
  <li>SQL</li>
  <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Matplotlib</li>
<ol>

| Data Science Tools             |
|-------------------------------|
| Jupyter Notebook              |
| RStudio                       |
| Apache Zeppelin               |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers

expression = (3*4)+5
print(expression)

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60

expression = 200/60
print(expression)

3.3333333333333335

<h2>Author</h2>
Yoga Yulianto